:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #7972e4;
}

*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
}
body{
  background-color: #f7f7f7;
  width: 100%;
}